<div class="post_media">
  <h3>{{post.text|safe}}</h3>
  <div class="media-body">
    <strong>{{post.user.username}}</strong>
    <h5 class="media-heading">
      <span class="username">
        <a href="{% url 'post:for_user' username=post.user.username %}">@{{post.user.username}}</a>
      </span>
      <time class="time"><a href="{% url 'post:single' username=post.user.username pk=post.pk %}">
        {{ post.create_date }}
      </a></time>
    </h5>
    <div class="media-footer">
      {% if user.is_authenticated and post.user == user %}
        <a href="{% url 'post:delete' pk=post.pk %}" title='delete' class="btn btn-warning">
          Delete Post
        </a>
      {% endif %}
    </div>
  </div>
</div>
